body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.container {
  padding: 10px 20px;
}

div.large {
  height: 60px;
  width: 60px;
}

.main-container {
  max-height: calc(100vh - 112px);
  overflow: auto;
  height: 100%;
}

a {
  text-decoration: none;
}

.MuiBottomNavigation-root {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.Spacer {
  margin-top: 10px;
}

input[type="file"] {
  display: none;
}
